*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  
   background-color: #242424;
}


.menus {
    display: flex;
    justify-content: center;
}


.navigation-bar{ 
text-decoration: none;
display: flex;
position: fixed;
align-items: center;
width: 100%;
height: 80px;
background-color: rgba(255, 255, 255, 0);
padding-right: 30px;
padding-left: 100px;
font-family: sans-serif;

}

.nav-links{
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 20px;
}

.navigation-bar a {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  gap: 5px;
}

.navigation-bar a:hover{
    color: rgb(226, 150, 57);
}

#title{
    padding-left: 50px;
    padding-right: 400px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

#logo{
    position: absolute;
    top: 5px;
    left: 20px;
    
}

#sign_in {
    float: right;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border-style: none;
    background-color: rgba(247, 247, 223, 0);
    color: rgb(255, 255, 255);
    
    font-size: 16px;
    cursor: pointer;
 }

 #sign_in:hover {
    color: rgb(226, 150, 57);
   
 }

.menu { 
    padding-top: 50px;
    display:inline-grid;
    align-content: center;
    justify-content: center;
    text-align:center;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
}

#image1 {
    width: 50%;
    height: 50%;

    object-fit: cover;
    
}


.spanish {
   border: 0px ;
   height: 35cap;
   padding-top: 80px;
   display: flex;
   background-color: blanchedalmond;
   border-radius: 5px;
   width: 40cap;
  
   
}

 .desc{
    
   
    h4{
         color: #242424;
    }

    h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #242424;
        }

    p{
     color: #242424;
    }
}

h1{
    padding-top: 80px;
    text-align: center;
    color: rgba(240, 255, 255, 0.877);
    
}




 #hpage {
         width: 100%;
         height:100cap;
 }

 .message {
    color: blanchedalmond;
    position: absolute;
    text-align: center;
    top:40%;
    right: 65%;
    
    h2{
        font-size: 6.5cap;

     }
     p{
        font-size: 2cap;
        font-style: oblique;
        
     }
 }

 #explore {
       margin-top: 15px;
       border-radius: 5px;
       height: 35px;  
       width: 200px;
       background-color: rgba(245, 245, 220, 0.192);
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-size: 17px;
       font-weight: bolder;
       color: rgba(245, 245, 220, 0.733);
       border-color: rgba(255, 235, 205, 0.027);

 }

 #explore:hover {
      background-color: rgba(10, 10, 10, 0.082);
 }

 